<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scle=1">
  <title>StickerNote</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300&display=swap" rel="stylesheet">
</head>

    <header>
    　　<a class="title">StickerBook</a>
    </header>
    
　　<body>
   　　 <form class="account-action" action="/signup" method="post">
       　　 <input type="text" name="mail" placeholder="Eメール"><br>
      　　　  <p>パスワードは５文字以上</p>
        　　<input type="password" name="password" placeholder="パスワード"><br>
        　　<input type="password" name="password_confirmation" placeholder="パスワードの確認"><br>
        　　<% if session[:signup_error] %>
        　　　　<p><%= session[:signup_error] %></p>
        　　<% end %>
        　　<input type="submit" value="新規登録">
    　　</form>
　　</body>
　　
</html