<!DOCTYPE html>
<html lang = ja>
<head>
    <meta chaerst=@utf-8>
    <title>StickerNote</title>
</head>
<body>
    <form action="/signin" method="post">
        <input type="text" name="mail" placeholder="Eメール"><br>
        <input type="password" name="password" placeholder="パスワード"><br>
        <input type="submit" value="ログイン"><br>
    </form>
    <a href="/signup">新規登録</a>
</body>
</html>